html {
	font-size: 18px;
	/* 1.5rem - 24px */
	line-height: 1.5;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
}
body {
    background-color: #0A0708;
    color: #B1B1B1;
    margin: 2rem;
}

.github-link {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
}

.prose {
    max-width: 80ch;
    margin: 0 auto;
}
.prose *::before, .prose *::after {
	color: #444;
	font-size: 18px;
	font-weight: 400;
	font-family: monospace;
}
.prose :is(p, pre, ul, ol) {
	margin: 1rem 0;
}
.prose :is(h3, h4, h5, h6) {
	margin: 1.5rem 0
	        1rem;
}
.prose :is(h1, h2) {
	margin: 2rem 0
	        1rem;
}
.prose :not(pre) > code {
    border-radius: 3px;
	color: #de7436;
}
.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
	content: "`";
}
.prose pre {
	position: relative;
    border-radius: 6px;
    background-color: #222;
    border: 1px solid #333;
    padding: 1.5rem;
    overflow-x: auto;
}
.prose pre::before, 
.prose pre::after {
	content: "```";
	color: #666;
	position: absolute;
	left: 0;
	display: block;
}
.prose pre::before {
	top: 0;
}
.prose pre::after {
	bottom: 0;
}
.prose h1::before {
	content: "# ";
}
.prose h2::before {
	content: "## ";
}
.prose h3::before {
	content: "### ";
}
.prose h4::before {
	content: "#### ";
}
.prose h5::before {
	content: "##### ";
}
.prose h6::before {
	content: "###### ";
}
.prose span {
    outline: 1px solid #64705d;
}
.prose em::after,
.prose em::before {
    content: "*";
}
.prose strong::after,
.prose strong::before {
    content: "**";
}

.prose a {
	color: #1e77dc;
}
.prose a::before {
	content: "[";
}
.prose a::after {
	content: "]";
}